@import "/src/styles/variables.module";

.name {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 0.95rem;
  color: $dark-blue;
  line-height: 1rem;
  padding: 0 1px 3rem 1px;

  &:hover {
    color: $black;
    border-bottom: 0.3rem solid $orange;
  }
}
