// Colors
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$vark-blue: hsl(220, 13%, 13%);
$dark-blue: hsl(219, 9%, 45%);
$light-grayish: hsl(223, 64%, 98%);
$blue: hsl(220, 14%, 75%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lightbox-black: hsla(0, 0%, 0%, 0.75);

// breakpoints
$mobile: 375px;
$desktop: 1440px;
